# Company name matching

See stackoverflow page:
http://stackoverflow.com/questions/39680624/matching-company-names-in-the-news-data-using-python

In [1]:
# Imports

import sys, itertools, csv, nltk, re, editdistance

from pyexcel_xlsx import get_data

import pandas as pd


# Import spacy and English models
import spacy, numpy

# Load English Spacy module
nlp = spacy.load('en')

In [8]:
# Import data - using pyexcel

datain1 = get_data("ftse100companies.xlsx")
datain2 = get_data("companytestlist.xlsx")

datain2

OrderedDict([('Sheet1',
              [['Company'],
               ['3i'],
               ['Aberdeen Asset Management'],
               ['Admiral Group'],
               ['British Petroleum'],
               ['BAT'],
               ['BAE'],
               ['Barratt'],
               ['Direct Line'],
               ['LSE'],
               ['RBS'],
               ['BT'],
               ['CocaCola'],
               ['Jonson Mathey'],
               ['Sports Drect'],
               ['Tescos'],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               [],
               ...])])

In [39]:
# Import data - using pandas

df1 = pd.read_excel("ftse100companies.xlsx")
df2 = pd.read_excel("companytestlist.xlsx")

df1

                         Company
0                             3i
1      Aberdeen Asset Management
2                  Admiral Group
3             Anglo American plc
4                    Antofagasta
5                   ARM Holdings
6                  Ashtead Group
7       Associated British Foods
8                    AstraZeneca
9                          Aviva
10         Babcock International
11                   BAE Systems
12                      Barclays
13          Barratt Developments
14       Berkeley Group Holdings
15                  BHP Billiton
16                            BP
17      British American Tobacco
18                  British Land
19                      BT Group
20                         Bunzl
21                      Burberry
22                        Capita
23    Carnival Corporation & plc
24                      Centrica
25              Coca-Cola HBC AG
26                 Compass Group
27                       CRH plc
28                       DCC plc
29                        Diageo
..                           ...
70          Rolls-Royce Holdings
71  Royal Bank of Scotland Group
72             Royal Dutch Shell
73                    Royal Mail
74           RSA Insurance Group
75                     SABMiller
76                    Sage Group
77                   Sainsbury's
78                     Schroders
79                  Severn Trent
80                     Shire plc
81                       Sky plc
82                Smith & Nephew
83                  Smiths Group
84                 Sports Direct
85                       SSE plc
86            Standard Chartered
87                 Standard Life
88         St. James's Place plc
89                 Taylor Wimpey
90                         Tesco
91                Travis Perkins
92                     TUI Group
93                      Unilever
94              United Utilities
95                Vodafone Group
96                     Whitbread
97                  Wolseley plc
98                      Worldpay
99                       WPP plc

[100 rows x 1 columns]

In [9]:
# Get company name lists from imported excel data

items1 = list(itertools.chain.from_iterable(datain1.items()))
items1trimmed = items1[1][1:]

items2 = list(itertools.chain.from_iterable(datain2.items()))
items2trimmed = items2[1][1:]

# Exact matching

In [10]:
# Exact match (using pyexcel formatted input)

matched=[]

for item in items1trimmed:
    if item in items2trimmed:
        print(item)
        matched.append(item)

['3i']
['Aberdeen Asset Management']
['Admiral Group']

In [70]:
# Output matches

with open("company_name_matches.csv", 'w', newline="") as outfile:
    writer = csv.writer(outfile)
    writer.writerows(matched)

# Fuzzy matching

Four cases to deal with:

1. There can be variations like LTD, Ltd, Limited, Corp, Corporation. & and etc
2. There can be abbreviations like IBM and International Business Machine
3. There can be typographical errors, deliberately as part of company branding (e.g. flickr / flicker) or accidentally (e.g. Orcle / Oracle)
4. There can be omissions - Goyal and Sons, Goyal

In [3]:
# Function to strip known trailing company type extensions - lower case for now

co_extensions = ['limited', 'ltd', 'ltd.', 'corp', 'corp.', 'inc', 'inc.', 'plc', 'Group']
co_extensions = [item.upper() for item in co_extensions]
co_extensions

['LIMITED', 'LTD', 'LTD.', 'CORP', 'CORP.', 'INC', 'INC.', 'PLC', 'GROUP']

In [14]:
# Function to strip ending 

def strip_end(text, suffix):
    if not text.endswith(suffix):
        return text
    else:
        return text[:len(text)-len(suffix)]

In [15]:
# Function to remove known company extensions (deals with cases 1 and 4)

def strip_extensions(data_in, co_extensions):

    shortened=[]

    for item in data_in:
        for subitem in item:
            temp_string = subitem.upper()
            for ext in co_extensions:
                temp_string = strip_end(temp_string, ext)
            shortened.append(temp_string.strip())

    return shortened

In [32]:
# Call remove extensions function - pyxexcel formatted data

shortened1 = strip_extensions(items1trimmed, co_extensions)
shortened2 = strip_extensions(items2trimmed, co_extensions)
shortened2

['3I',
 'ABERDEEN ASSET MANAGEMENT',
 'ADMIRAL',
 'BRITISH PETROLEUM',
 'BAT',
 'BAE',
 'BARRATT',
 'DIRECT LINE',
 'LSE',
 'RBS',
 'BT',
 'COCACOLA',
 'JONSON MATHEY',
 'SPORTS DRECT',
 'TESCOS']

In [35]:
# Function to strip extensions, using LIST as input

def strip_extension_list(data_in, co_extensions):

    shortened=[]

    for item in data_in:
        temp_string = item.upper()
        for ext in co_extensions:
            temp_string = strip_end(temp_string, ext)
        shortened.append(temp_string.strip())

    return shortened

In [42]:
# Call remove extensions function - dataframe format


# Convert Company name to list
dflist1 = df1['Company'].tolist()
dflist2 = df2['Company'].tolist()


# Call remove extensions function - pyxexcel formatted data

dflistshortened1 = strip_extension_list(dflist1, co_extensions)
dflistshortened2 = strip_extension_list(dflist2, co_extensions)

# Put back into DataFrame
df1['shortened'] = dflistshortened1
df2['shortened'] = dflistshortened2

df2

                      Company                  shortened
0                          3i                         3I
1   Aberdeen Asset Management  ABERDEEN ASSET MANAGEMENT
2               Admiral Group                    ADMIRAL
3           British Petroleum          BRITISH PETROLEUM
4                         BAT                        BAT
5                         BAE                        BAE
6                     Barratt                    BARRATT
7                 Direct Line                DIRECT LINE
8                         LSE                        LSE
9                         RBS                        RBS
10                         BT                         BT
11                   CocaCola                   COCACOLA
12              Jonson Mathey              JONSON MATHEY
13               Sports Drect               SPORTS DRECT
14                     Tescos                     TESCOS

In [70]:
# Flag if abbreviation variant is relevant - PYEXCEL version
# Only relevant if there are more than one term
def abbreviate(data_in):
    
    abbreviations=[]
    
    for item in data_in:
        subitem_split = item.split()
        initials = ""
        if len(subitem_split) > 1:
            for word in subitem_split:
                initials += word[0]
            abbreviations.append(initials)
    
    return abbreviations


# Call abbreviations function

abbreviations1 = abbreviate(shortened1)
abbreviations2= abbreviate(shortened2)
abbreviations2

,Company,shortened,word_count,split,acronym
0,3i,3I,1,[3I],3i
1,Aberdeen Asset Management,ABERDEEN ASSET MANAGEMENT,3,"[ABERDEEN, ASSET, MANAGEMENT]",Aberdeen Asset Management
2,Admiral Group,ADMIRAL,1,[ADMIRAL],Admiral Group
3,Anglo American plc,ANGLO AMERICAN,2,"[ANGLO, AMERICAN]",Anglo American plc
4,Antofagasta,ANTOFAGASTA,1,[ANTOFAGASTA],Antofagasta
5,ARM Holdings,ARM HOLDINGS,2,"[ARM, HOLDINGS]",ARM Holdings
6,Ashtead Group,ASHTEAD,1,[ASHTEAD],Ashtead Group
7,Associated British Foods,ASSOCIATED BRITISH FOODS,3,"[ASSOCIATED, BRITISH, FOODS]",Associated British Foods
8,AstraZeneca,ASTRAZENECA,1,[ASTRAZENECA],AstraZeneca
9,Aviva,AVIVA,1,[AVIVA],Aviva
10,Babcock International,BABCOCK INTERNATIONAL,2,"[BABCOCK, INTERNATIONAL]",Babcock International
11,BAE Systems,BAE SYSTEMS,2,"[BAE, SYSTEMS]",BAE Systems
12,Barclays,BARCLAYS,1,[BARCLAYS],Barclays
13,Barratt Developments,BARRATT DEVELOPMENTS,2,"[BARRATT, DEVELOPMENTS]",Barratt Developments
14,Berkeley Group Holdings,BERKELEY GROUP HOLDINGS,3,"[BERKELEY, GROUP, HOLDINGS]",Berkeley Group Holdings
15,BHP Billiton,BHP BILLITON,2,"[BHP, BILLITON]",BHP Billiton
16,BP,BP,1,[BP],BP
17,British American Tobacco,BRITISH AMERICAN TOBACCO,3,"[BRITISH, AMERICAN, TOBACCO]",British American Tobacco
18,British Land,BRITISH LAND,2,"[BRITISH, LAND]",British Land
19,BT Group,BT,1,[BT],BT Group
20,Bunzl,BUNZL,1,[BUNZL],Bunzl
21,Burberry,BURBERRY,1,[BURBERRY],Burberry
22,Capita,CAPITA,1,[CAPITA],Capita
23,Carnival Corporation & plc,CARNIVAL CORPORATION &,3,"[CARNIVAL, CORPORATION, &]",Carnival Corporation & plc
24,Centrica,CENTRICA,1,[CENTRICA],Centrica
25,Coca-Cola HBC AG,COCA-COLA HBC AG,3,"[COCA-COLA, HBC, AG]",Coca-Cola HBC AG
26,Compass Group,COMPASS,1,[COMPASS],Compass Group
27,CRH plc,CRH,1,[CRH],CRH plc
28,DCC plc,DCC,1,[DCC],DCC plc
29,Diageo,DIAGEO,1,[DIAGEO],Diageo
...,...,...,...,...,...
70,Rolls-Royce Holdings,ROLLS-ROYCE HOLDINGS,2,"[ROLLS-ROYCE, HOLDINGS]",Rolls-Royce Holdings
71,Royal Bank of Scotland Group,ROYAL BANK OF SCOTLAND,4,"[ROYAL, BANK, OF, SCOTLAND]",Royal Bank of Scotland Group
72,Royal Dutch Shell,ROYAL DUTCH SHELL,3,"[ROYAL, DUTCH, SHELL]",Royal Dutch Shell
73,Royal Mail,ROYAL MAIL,2,"[ROYAL, MAIL]",Royal Mail
74,RSA Insurance Group,RSA INSURANCE,2,"[RSA, INSURANCE]",RSA Insurance Group
75,SABMiller,SABMILLER,1,[SABMILLER],SABMiller
76,Sage Group,SAGE,1,[SAGE],Sage Group
77,Sainsbury's,SAINSBURY'S,1,[SAINSBURY'S],Sainsbury's
78,Schroders,SCHRODERS,1,[SCHRODERS],Schroders
79,Severn Trent,SEVERN TRENT,2,"[SEVERN, TRENT]",Severn Trent
80,Shire plc,SHIRE,1,[SHIRE],Shire plc
81,Sky plc,SKY,1,[SKY],Sky plc
82,Smith & Nephew,SMITH & NEPHEW,3,"[SMITH, &, NEPHEW]",Smith & Nephew
83,Smiths Group,SMITHS,1,[SMITHS],Smiths Group
84,Sports Direct,SPORTS DIRECT,2,"[SPORTS, DIRECT]",Sports Direct
85,SSE plc,SSE,1,[SSE],SSE plc
86,Standard Chartered,STANDARD CHARTERED,2,"[STANDARD, CHARTERED]",Standard Chartered
87,Standard Life,STANDARD LIFE,2,"[STANDARD, LIFE]",Standard Life
88,St. James's Place plc,ST. JAMES'S PLACE,3,"[ST., JAMES'S, PLACE]",St. James's Place plc
89,Taylor Wimpey,TAYLOR WIMPEY,2,"[TAYLOR, WIMPEY]",Taylor Wimpey
90,Tesco,TESCO,1,[TESCO],Tesco
91,Travis Perkins,TRAVIS PERKINS,2,"[TRAVIS, PERKINS]",Travis Perkins
92,TUI Group,TUI,1,[TUI],TUI Group
93,Unilever,UNILEVER,1,[UNILEVER],Unilever
94,United Utilities,UNITED UTILITIES,2,"[UNITED, UTILITIES]",United Utilities
95,Vodafone Group,VODAFONE,1,[VODAFONE],Vodafone Group
96,Whitbread,WHITBREAD,1,[WHITBREAD],Whitbread
97,Wolseley plc,WOLSELEY,1,[WOLSELEY],Wolseley plc
98,Worldpay,WORLDPAY,1,[WORLDPAY],Worldpay
99,WPP plc,WPP,1,[WPP],WPP plc

In [79]:
# Flag if abbreviations variant is relevant

# Convert to list
dflistshortened1 = df1['shortened'].tolist()
dflistshortened2 = df2['shortened'].tolist()


# Function to abbreviate from LIST input
def abbreviate(data_in):
    
    abbreviations=[]
    
    for item in data_in:
        subitem_split = item.split()
        initials = ""
        if len(subitem_split) > 1:
            for word in subitem_split:
                initials += word[0]
        abbreviations.append(initials)
    
    return abbreviations


# Call abbreviations function
abbreviations1 = abbreviate(dflistshortened1)
abbreviations2= abbreviate(dflistshortened2)


# Put back into DataFrame
df1['acronym'] = abbreviations1
df2['acronym'] = abbreviations2

df2

                      Company                  shortened acronym
0                          3i                         3I
1   Aberdeen Asset Management  ABERDEEN ASSET MANAGEMENT     AAM
2               Admiral Group                    ADMIRAL
3           British Petroleum          BRITISH PETROLEUM      BP
4                         BAT                        BAT
5                         BAE                        BAE
6                     Barratt                    BARRATT
7                 Direct Line                DIRECT LINE      DL
8                         LSE                        LSE
9                         RBS                        RBS
10                         BT                         BT
11                   CocaCola                   COCACOLA
12              Jonson Mathey              JONSON MATHEY      JM
13               Sports Drect               SPORTS DRECT      SD
14                     Tescos                     TESCOS

In [107]:
# Edit Distance
def closesteditdistancematch(targetlist, referencelist):
    
    returnlist = []
    
    for targetitem in targetlist:
        closestmatch=""
        closestdistance=999
        for referenceitem in referencelist:
            currenteditdistance = editdistance.eval(targetitem, referenceitem)
            if  currenteditdistance < closestdistance:
                closestmatch = referenceitem
                closestdistance = currenteditdistance
        returnlist.append([closestmatch, closestdistance])       

    return returnlist

editdistance_21 = closesteditdistancematch(dflistshortened2, dflistshortened1)

editdistarray = numpy.asarray(editdistance_21)

# len(editdistarray[:, 0])

df2['editdistmatch'] = editdistarray[:, 0]
df2['editdistance'] = editdistarray[:, 1]

df2

# Scrap code

,Company,shortened,acronym,editdistmatch,editdistance
0,3i,3I,,3I,0
1,Aberdeen Asset Management,ABERDEEN ASSET MANAGEMENT,AAM,ABERDEEN ASSET MANAGEMENT,0
2,Admiral Group,ADMIRAL,,ADMIRAL,0
3,British Petroleum,BRITISH PETROLEUM,BP,BRITISH LAND,8
4,BAT,BAT,,BT,1
5,BAE,BAE,,BP,2
6,Barratt,BARRATT,,BARCLAYS,4
7,Direct Line,DIRECT LINE,DL,DIRECT LINE,0
8,LSE,LSE,,SSE,1
9,RBS,RBS,,BP,2
10,BT,BT,,BT,0
11,CocaCola,COCACOLA,,CAPITA,5
12,Jonson Mathey,JONSON MATHEY,JM,JOHNSON MATTHEY,2
13,Sports Drect,SPORTS DRECT,SD,SPORTS DIRECT,1
14,Tescos,TESCOS,,TESCO,1

In [112]:
# Merge on acronyms

df_merged_acronyms = pd.merge(df2, df1[df1['acronym'] != ''], left_on='acronym', right_on='acronym', how='left')

df_merged_acronyms

,Company_x,shortened_x,acronym,editdistmatch,editdistance,Company_y,shortened_y,word_count,split
0,3i,3I,,3I,0,NaN,NaN,NaN,NaN
1,Aberdeen Asset Management,ABERDEEN ASSET MANAGEMENT,AAM,ABERDEEN ASSET MANAGEMENT,0,Aberdeen Asset Management,ABERDEEN ASSET MANAGEMENT,3.0,"[ABERDEEN, ASSET, MANAGEMENT]"
2,Admiral Group,ADMIRAL,,ADMIRAL,0,NaN,NaN,NaN,NaN
3,British Petroleum,BRITISH PETROLEUM,BP,BRITISH LAND,8,NaN,NaN,NaN,NaN
4,BAT,BAT,,BT,1,NaN,NaN,NaN,NaN
5,BAE,BAE,,BP,2,NaN,NaN,NaN,NaN
6,Barratt,BARRATT,,BARCLAYS,4,NaN,NaN,NaN,NaN
7,Direct Line,DIRECT LINE,DL,DIRECT LINE,0,Direct Line Group,DIRECT LINE,2.0,"[DIRECT, LINE]"
8,LSE,LSE,,SSE,1,NaN,NaN,NaN,NaN
9,RBS,RBS,,BP,2,NaN,NaN,NaN,NaN
10,BT,BT,,BT,0,NaN,NaN,NaN,NaN
11,CocaCola,COCACOLA,,CAPITA,5,NaN,NaN,NaN,NaN
12,Jonson Mathey,JONSON MATHEY,JM,JOHNSON MATTHEY,2,Johnson Matthey,JOHNSON MATTHEY,2.0,"[JOHNSON, MATTHEY]"
13,Sports Drect,SPORTS DRECT,SD,SPORTS DIRECT,1,Sports Direct,SPORTS DIRECT,2.0,"[SPORTS, DIRECT]"
14,Tescos,TESCOS,,TESCO,1,NaN,NaN,NaN,NaN